* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* set main colors */
:root {
  --primary-color: rgb(146, 204, 205);
  --secondary-color: rgb(55, 77, 110);
}
/* end set main colors */

body {
  background-color: rgb(238, 238, 246);
  font-family: Arial, sans-serif;
}

/* HEADER Style Start  */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(49, 52, 61);
  padding: 10px 50px 10px 0px;
}
header h1 {
  background-color: var(--primary-color);
  padding: 0 10px 0 50px;
  font-size: 45px;
}

header ul {
  display: flex;
}

header nav li {
  display: flex;
  margin: 0 5px;
}

header nav li a {
  color: var(--primary-color);
  padding: 10px 15px;
  border-bottom: 3px solid var(--primary-color);
  font-size: 18px;
}

header nav li a:hover {
  color: rgb(49, 52, 61);
  background-color: var(--primary-color);
}
/* HEADER Style End  */

/* Layout of the main - Start */
.body-layout {
  display: flex;
  flex-wrap: nowrap;
  width: 88%;
  margin: 30px auto;
  color: var(--secondary-color);
}

.body-layout h3 {
  flex: 0 0 180px;
  font-size: 40px;
  text-align: right;
  border-right: 3px solid var(--secondary-color);
  padding-right: 10px;
}

.body-layout > div {
  flex: 0 1 auto;
  padding-left: 25px;
}
/* Layout of the main - End */

/* BANNER Style Start  */
.hero {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  background: url(../images/hero-bg.jpeg) repeat;
}

.hero h2 {
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 30px;
  color: #000000;
  background-color: var(--primary-color);
  padding: 2px 10px;
}
/* BANNER Style End  */

/* ABOUT-ME Style Start  */
.about-me {
  display: flex;
}

.about-me img {
  padding-right: 10px;
  width: 100px;
}

.about-me p {
  font-size: 14px;
  line-height: 1.5;
}
/* ABOUT-ME Style End */

/* WORK Style Start  */
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works article {
  flex: 1 1 40%;
  margin: 5px;
  border: 4px solid var(--primary-color);
}

.works > article:first-child {
  flex: 100%;
}

.works article div {
  position: relative;
  height: 100%;
}

.works article img {
  height: 100%;
  width: 100%;
}

.works article a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  opacity: 0.4;
  top: 0;
  left: 0;
  display: block;
}

.works article a:hover::before {
  display: none;
}

.works article h4 {
  position: absolute;
  padding: 6px 8px;
  background-color: var(--primary-color);
  font-size: 18px;
  bottom: 15px;
  left: 10x;
}

.works article h4 span {
  font-size: 11px;
  font-weight: normal;
}
/* WORK Style End */

/* FOOTER  Style Start */
.contact-info {
  width: 100%;
}

.contact-info ul {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contact-info ul li {
  text-align: center;
}

.contact-info ul a {
  padding: 4px 4px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  border-bottom: 5px solid var(--secondary-color);
}
/* FOOTER Style End */

/* responsive layout on screen under 768px */
@media screen and (max-width: 768px) {
  header {
    text-align: center;
    padding: 0px;
  }

  header > * {
    flex: 100%;
  }

  header h1 {
    font-family: 15px;
    padding: 5px 0;
  }

  header nav li {
    flex: 1;
    justify-content: center;
    margin: 0px;
  }

  header nav li a {
    border: none;
  }

  .body-layout {
    flex-wrap: wrap;
  }
  .body-layout h3 {
    flex: 0 0 100%;
    margin-bottom: 10px;
    text-align: left;
    border: none;
  }

  .hero {
    display: none;
  }
  .works article {
    flex: 100%;
  }

  .contact-info ul {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .contact-info ul a {
    border: none;
  }
}

/* limit the box size on screen over 1200px  */
@media screen and (min-width: 1400px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}
